<div class="mt4">
    <h3>My purchases</h3>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name Item</th>
                <th scope="col">Description</th>
                <th scope="col">#</th>
            </tr>
        </thead>
        <tbody>
            {{#each purchases}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.description}}</td>
                <td>
                    <a href="/purchases/{{this._id}}/change" class="btn btn-link">Change</a>
                   <a href="" class="btn btn-link" data-toggle="modal" data-id="{{this._id}}" data-target="#delete-purchases-modal">Delete</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
</table>
</div>

{{!-- Confirm delete course --}}
<div id="delete-purchases-modal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Item?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn chắc chắn muốn xóa khóa học này?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="btn-delete-purchases" type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
        document.addEventListener('DOMContentLoaded', function () {
            // When dialog confirm clicked
            $('#delete-purchases-modal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget)
                var id = button.data('id')
                console.log(id)
            })

            var btnDeletePurchases = document.getElementById('btn-delete-purchases')
            console.log(btnDeletePurchases)
        })
</script>